.boutonmenuprincipal{
	display: inline-block;
}





div#content div.rightbox h3.mm{
	padding-left: 950px;
	padding-top: 150px;
	padding-bottom: 50px;
}




div#content h3.dd{
		padding-bottom: 100px;

}


.section-cta {
	height: 125px;
	width: 0%;
	padding: 50px 0;
}

.section-cta h2 {
	font-family: "Chineserocks";
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	margin: 0 0 20px;
}

.section-cta a {
	font-family: "Chineserocks";
	font-size:25px;
}

.button-cta {
	margin-top:-15px;
	border: 2px solid #fff;
	padding: 10px 50px;
	font-size: 16px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	display: inline-block;

	-webkit-transition: all .4s ease; /* Safari and Chrome */
	-moz-transition: all .5s ease; /* Firefox */
	-o-transition: all .5s ease; /* IE 9 */
	-ms-transition: all .5s ease; /* Opera */
	transition: all .5s ease;

}
.button-cta:hover {
	color: #000;
	background-color: #fff;	
	text-decoration: none;
}




.container {
	position: relative;
    width: 320px;
    height: 240px;
    bottom: 16px;
}

.container .caption {
	position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 825px;
    padding-bottom: -200px;
    position: 50 50 50;
    text-decoration: unset;
    color: white;
}

div#content div.leftbox h3.New{
	padding-bottom: 60px;
}

div.rightbox iframe.Pub{
	padding-left: 525px;
}

p.BostRP{
	height: 0px;
	padding-bottom: 0px;
}

img.BostRP{
	padding-left: 500px;
}

nav.JobDiscord ul{
	list-style-type: none;
    margin-left: 850px;
}

nav.JobDiscord ul li a{
	background-color: #575D5C;
	padding: 9px;
	text-decoration: none;
	color: #e9e6e1;
	border: 2px solid #fff;
}

nav.JobDiscord ul li a:hover{
	background-color: #323837;
	color: white;
	transition: 0.6s all;
}


div#content div{
	display: inline-block;
	width: 30%;
}


div#content div.leftbox{
padding-top: 150px;
	padding: 25px;
	padding-left: 400px;
	margin-top:110px;
text-align:center;



}

p.ccc:hover{



   
   
    
	transform: rotateZ(360deg);
	transition: transform 1s;
}




p.Millieu{
	padding-left: 30%;
	color: #69767f;

}

div#content div.Métiers h3{
    color: #2ba6cb;
    padding-top: 150px;
}

body{
background-color: #e9e6e1;
}

h1.h1n°1{
	padding-left: 45%;
}

p.Job{
	color: #575D5C;
}


a.departements{
	background-color: #242424;
}

nav.Menues ul{
	list-style-type: none;
	  padding-left: 65%;
	  display: inline-block;
}

nav.Menues ul li a.bouton{
    margin: 0px;
	font-family: 'Reggae One', cursive;
}

section.section-padded2 discord-bg div.container div.row div.discord text-center{
	padding-left: 500px;
}


nav.Menues ul li a.bouton p.Gangs{

height:200px;
position:relative;
position:absolute;
bottom:0;
}

nav.Menues ul li a.bouton p.Jobs{

	height:200px;
	position:relative;
	position:absolute;
	bottom:0;
	}

	nav.Menues ul li a.bouton p.Shop{

		height:200px;
		position:relative;
		position:absolute;
		bottom:0;
		}

		nav.Menues ul li a.bouton p.Joinus{

			height:200px;
			position:relative;
			position:absolute;
			bottom:0;
			}

			nav.Menues ul li a.bouton p.Home{

				height:200px;
				position:relative;
				position:absolute;
				bottom:0;
				}

				
				
				
				body {
					font-family: "Trebuchet MS";
				}
				.menu {
					margin-left: 500px;
					margin-top: 100px;
					position: 0 200 0;
					padding-left: 5000px;
					display: flex;                /* Transformation en flexbox */
					padding: 0px;                    /* Suppression des marges internes */
					background-color: rgb(26, 26, 26);      /* Ajout de la couleur d'arrière-plan */
					justify-content: flex-end;/* Alignements des liens dans le menu */
					padding-bottom: 30px;
				}
				.menu li {
					padding-left: 50px;
					list-style-type: none ;       /* Suppression des puces */
				  
				}
				.menu a {
					display:block;                /* Transformation en block */
					min-width: 100px;             /* Largeur minimale des liens */   
					
					margin: 0;               /* Marges externes */
					padding: 0.4rem 0;            /* Marges internes */
					text-align: center;           /* Centrage du texte */   
					background-color: #272727;    /* Arrière-plan */
					color: #fff;                  /* Couleur du texte */
					text-decoration: none;        /* Suppression du soulignement */
					border: 1px solid #fff;       /* Ajout d'une bordure */
					border-radius: 60px;
					width: 250px;           /* Arrondis des bordures */
					
					transition: all 1s ;          /* Ajout des effets de transition */
				}
				.menu a.actif {    
					background-color: #000 ; 
					color: #ffffff ;
					border-color: #000000 ;
				}
				.menu a:hover,
				.menu a:hover.actif{
					background-color: #444444;
					color: #ffffff;
					border-color: #000000;
				}

nav.Menues ul a{
    text-decoration: none;
    color: #2a3237;
    padding: 9px;
    text-align: center;
    float: left;
    border: none;
}

nav.Menues ul li a.Join:hover{
	background-color: black;
	color: white;
	transition: 0.8s all;
}

nav.Menues ul li a.bouton:hover{
	background-color: black;
	color: white;
	transition: 0.8s all;
}

nav.Menues ul li a.Jobs:hover{
		background-color: black;
	color: white;
	transition: 0.8s all;

}

footer{
	background-color: #0C0C0C;
	color: white;
	padding: 100px;
}

footer{
	padding-left: 750px;
}

header{
	background-color: rgb(26, 26, 26);
}

a.button-cta{

	padding-left: 180px;
}


.slideshow {

   height: 500px;

   overflow: hidden;

   border: 3px solid #F2F2F2;

}


nav {
    display: flex;
}

.job-boutton{
	padding-left: 600px;
}




