.boutonmenuprincipal{
	display: inline-block;
}





div#content div.rightbox h3.mm{
	padding-left: 950px;
	padding-top: 150px;
	padding-bottom: 50px;
}




div#content h3.dd{
		padding-bottom: 100px;

}


.section-cta {
	height: 125px;
	width: 0%;
	padding: 50px 0;
}

.section-cta h2 {
	font-family: "Chineserocks";
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	margin: 0 0 20px;
}

.section-cta a {
	font-family: "Chineserocks";
	font-size:25px;
}


.button-cta:hover {
	color: #000;
	background-color: #fff;	
	text-decoration: none;
}




.container {
	position: relative;
    width: 320px;
    height: 240px;
    bottom: 16px;
}

.container .caption {
	position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 825px;
    padding-bottom: -200px;
    position: 50 50 50;
    text-decoration: unset;
    color: white;
}

div#content div.leftbox h3.New{
	padding-bottom: 60px;
}

div.rightbox iframe.Pub{
	padding-left: 525px;
}

p.BostRP{
	height: 0px;
	padding-bottom: 0px;
}

img.BostRP{
	padding-left: 400px;
}

nav.JobDiscord ul{
	list-style-type: none;
    margin-left: 850px;
}

body{
	background-color:rgb(43,127,192);
}

#recherche{
	width:150px;
	height:29px;
}

#centre{
	height:29px;
	width:144px;
	}
#droite{
	height:29px;
	width:43px;
	}

nav.JobDiscord ul li a{
	background-color: #575D5C;
	padding: 9px;
	text-decoration: none;
	color: #e9e6e1;
	border: 2px solid #fff;
}

nav.JobDiscord ul li a:hover{
	background-color: #323837;
	color: white;
	transition: 0.6s all;
}

a.bccf{
	text-decoration: none;
	list-style-type: none;
	margin-bottom: 50px;

}

a.bccf{
	
	list-style-type: none;

  
   
	color: rgb(228, 228, 228);
	
	
}

.bccf:hover{
	text-decoration: underline;
	transition: 0.3s;
	
}


div#content div{
	display: inline-block;
	width: 30%;
}


div#content div.leftbox{
padding-top: 150px;
	padding: 25px;
	padding-left: 400px;
	margin-top:110px;
text-align:center;



}

p.ccc:hover{



   
   
    
	transform: rotateZ(360deg);
	transition: transform 1s;
}




p.Millieu{
	padding-left: 30%;
	color: #69767f;

}

div#content div.Métiers h3{
    color: #2ba6cb;
    padding-top: 150px;
}

body{
background-color: #e9e6e1;
}

h1.h1n°1{
	padding-left: 45%;
}

p.Job{
	color: #575D5C;
}


a.departements{
	background-color: #242424;
}

nav.Menues ul{
	list-style-type: none;
	  padding-left: 65%;
	  display: inline-block;
}

nav.Menues ul li a.bouton{
    margin: 0px;
	font-family: 'Reggae One', cursive;
}

section.section-padded2 discord-bg div.container div.row div.discord text-center{
	padding-left: 500px;
}


nav.Menues ul li a.bouton p.Gangs{

height:200px;
position:relative;
position:absolute;
bottom:0;
}

nav.Menues ul li a.bouton p.Jobs{

	height:200px;
	position:relative;
	position:absolute;
	bottom:0;
	}

	nav.Menues ul li a.bouton p.Shop{

		height:200px;
		position:relative;
		position:absolute;
		bottom:0;
		}

		nav.Menues ul li a.bouton p.Joinus{

			height:200px;
			position:relative;
			position:absolute;
			bottom:0;
			}

			nav.Menues ul li a.bouton p.Home{

				height:200px;
				position:relative;
				position:absolute;
				bottom:0;
				}

				
				
				
				body {
					font-family: "Trebuchet MS";
				}
				.div-style section{
					margin-right: 100px;
					margin-left: 1200px;
					
					
					vertical-align: -40px;
				
					
					
					display: flex;                /* Transformation en flexbox */
					padding: 0px;  	background-color: rgb(26, 26, 26);      /* Ajout de la couleur d'arrière-plan */
				/* Alignements des liens dans le menu */
					
				}
				.div-style section li {
					padding-left: 50px;
					list-style-type: none ;   /* Suppression des puces */
				  
				}

				a.bouton-haut{

					text-decoration: none;
					color: white;
					
				}

				a.bouton-haut:hover{
					color: rgb(74, 122, 253);
					transition: 0.3s;
				}

				.div-style section a.actif {    
					background-color: #000 ; 
					color: #ffffff ;
					border-color: #000000 ;
					
				}
				
nav.Menues ul a{
    text-decoration: none;
    color: #2a3237;
    padding: 9px;
    text-align: center;
    float: left;
    border: none;
}

nav.Menues ul li a.Join:hover{
	background-color: black;
	color: white;
	transition: 0.8s all;
}

nav.Menues ul li a.bouton:hover{
	background-color: black;
	color: white;
	transition: 0.8s all;
}

nav.Menues ul li a.Jobs:hover{
		background-color: black;
	color: white;
	transition: 0.8s all;

}

footer{
	background-color: #0C0C0C;
	color: white;
	padding: 50px;
}


header{
	position: fixed;
	
	width: 2000px;
	height: 17%;
	background-color: rgb(26, 26, 26);
    vertical-align: -20px;
	top: 0px;
}

a.button-cta{

	padding-left: 180px;
}


.slideshow {

   height: 500px;

   overflow: hidden;

   border: 3px solid #F2F2F2;

}


nav {
    display: flex;
}

.job-boutton{
	padding-left: 600px;
}


img.logo-discord{
	margin-left: 700px;
	margin-bottom: 100px;
	
}

img.logo-discord:hover{
	transform: rotateZ(360deg);
	transition: 1.0s;
}

h2.BostRP{
	margin-top: 500px;
	margin-left: 300px;
}

p.BostRP{
	margin-top: 500px;
}

img.ccbc{
	
	margin-top: 20px;
	margin-left: 100px;
}


.logo-title{
	margin-left: 675px;
}



img.img-ff {
	vertical-align: middle;
	
	
	
	padding: 30px;

  }
  

.prdd{
	color: white;
	margin-right: 850px;
	
	

	
	
	
	
	

}


.bouton03{
	text-decoration: none;
	color: white;
	
	
	

}

a.bouton03:hover{
	color: rgb(195, 255, 249);
	
}







.bouton-header{
	margin-bottom: 250px;
	margin-left: 100px;
	display: inline-table;
}


img.logo-bost{
	margin-left: 250px;
	margin-bottom: 110px;
	

	
}

img.logo-bost:hover{
	transform: rotateZ(360deg);
	transition: 1s;
}



section{
	
	display: inline-table;
	padding: 1000px;
}

.gif{
	margin-top: 16px;
}


.fenom{
	position: relative;
}


section.section-a{
	vertical-align: middle;
}


img.logo-top-serveur:hover{
transform: rotateZ(1080deg);
transition: 1s;
}

img.logo-top-serveur:hover{
	transform: rotateZ(360deg);
	transition: transform 0.6s;
}




#blackline{
	
	width:2px;
	height:15%;
	position:absolute;
	background-color:#353535;
	margin:9px;
	padding:0;
	left:260px;
	margin-right: 50px;
	 
	}




	.début{
		background-color: black;
	}


	a.bccf-b{
		text-decoration: none;
		list-style-type: none;
		margin-bottom: 50px;
		margin-left: 250px;
	
	
	}
	
	a.bccf-b{
		
		list-style-type: none;
	
	  
	   
		color: rgb(228, 228, 228);
		
		
	}
	
	.bccf-b:hover{
		text-decoration: underline;
		transition: 0.3s;
		
	}



	a.bccf-c{
		text-decoration: none;
		list-style-type: none;
		margin-bottom: 50px;
		margin-left: 250px;
	
	
	}
	
	a.bccf-c{
		
		list-style-type: none;
	
	  
	   
		color: rgb(228, 228, 228);
		
		
	}
	
	.bccf-c:hover{
		transition: 1s;
		text-decoration: underline;
		
		
		
	}

	#blackline-b{
		width:2px;
		height:15%;
		position:absolute;
		background-color:#353535;
		margin:-117px;
		padding:0;
		left: 697px;
		margin-right: 50px;
		 
		}

		.logo-title-c{
			margin-left: 875px;
		}


		a.bccf-d{
			
		
			list-style-type: none;
		
		  
		   
			color: rgb(228, 228, 228);
			
			
		}
		
		.bccf-d:hover{
			transition: 1s;
			text-decoration: underline;
			
			
			
		}


		#blackline-c{
			width:2px;
			height:15%;
			position:absolute;
			background-color:#353535;
			margin:-117px;
			padding:0;
			left: 1000px;
			margin-right: 50px;
			 
			}


			.bccf-z{
				text-decoration: none;
				list-style-type: none;
				margin-bottom: 50px;
				margin-left: 240px;
				list-style-type: none;
	
	  
	   
				color: rgb(228, 228, 228);
			}

			.bccf-z:hover{
				text-decoration: underline;

			}

			.bccf-w{
				text-decoration: none;
				list-style-type: none;
				margin-bottom: 50px;
				margin-left: 247px;
				list-style-type: none;
	
	  
	   
				color: rgb(228, 228, 228);
			}

			.bccf-w:hover{
				text-decoration: underline;
			}

			.bccf-z:hover{
				text-decoration: underline;
				
			}



			
		#blackline-d{
			width:2px;
			height:15%;
			position:absolute;
			background-color:#353535;
			margin:-117px;
			padding:0;
			left: 1300px;
			margin-right: 50px;
			 
			}


			#blackline-e{
				width:2px;
				height:15%;
				position:absolute;
				background-color:#353535;
				margin:-117px;
				padding:0;
				left: 1650px;
				margin-right: 50px;
				 
				}


				.bccf-l{
					text-decoration: none;
					list-style-type: none;
					margin-bottom: 50px;
					margin-left: 290px;
					list-style-type: none;
		
		  
		   
					color: rgb(228, 228, 228);
				}
	
				.bccf-l:hover{
					text-decoration: underline;
				}


				h2.bdfg{
					margin-left: 850px;
					margin-right: 880px;
					padding: 0px;
					background-color: #BABABA;
				}


				.jjk{
					margin-left: 550px;
					border: solide;
					width: 700px;
					padding: 10px;
					border-radius: 10px;
					color: white;
					background-color: #393939;
				}
		
	